<title><%= title %></title>
<meta name="description" content="<%= description %>">
<link rel="canonical" href="<%= canonical %>">

<meta property="og:type" content="website">
<meta property="og:url" content="<%= canonical %>">
<meta property="og:title" content="<%= title %>">
<meta property="og:description" content="<%= description %>">
<% if (typeof ogImage !== 'undefined') { %>
    <meta property="og:image" content="<%= ogImage %>">
<% } %>

<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="<%= canonical %>">
<meta property="twitter:title" content="<%= title %>">
<meta property="twitter:description" content="<%= description %>">
<% if (typeof ogImage !== 'undefined') { %>
    <meta property="twitter:image" content="<%= ogImage %>">
<% } %>

<% if (typeof keywords !== 'undefined') { %>
    <meta name="keywords" content="<%= keywords %>">
<% } %>